.component2-container {
  width: 520px;
  height: 210px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.component2-textarea {
  top: 0px;
  left: 101px;
  width: 574px;
  height: 210px;
  position: absolute;
}
.component2-text {
  top: 3px;
  left: 0px;
  position: absolute;
  font-family: "Raleway";
  font-weight: 700;
}
