.component3-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.component3-text {
  top: 204px;
  left: 101px;
  padding: 0px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.5;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  letter-spacing: 2px;
  text-transform: none;
  text-decoration: none;
}
.component3-text07 {
  padding: var(--dl-space-space-halfunit);
  font-size: 40px;
  align-self: flex-start;
  margin-top: 80px;
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  margin-left: var(--dl-space-space-sixunits);
  text-transform: uppercase;
}
