.component1-container {
  display: flex;
  position: relative;
  align-items: flex-start;
}
.component1-text {
  align-self: center;
  font-family: "Raleway";
  font-weight: bold;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.component1-textinput {
  align-self: center;
  padding-right: var(--dl-space-space-twounits);
}
